header {
    margin-left: 0;
    margin-right: 0;
    height: 12vh;
    background-color: colors(white);
    background-size: cover;
    border-bottom: 1px solid colors(red);

    .navi {
        margin: 17px 100px 0 0;
        float: right;
        font-family: fonts(rale);
        .navi-link {
            padding: 10px 25px 10px 25px;
            transition-duration: 0.4s;
            font-weight: 700;

           &:hover {
                color: colors(red);
                transform: scale(1.5);
                cursor: pointer;
            }
        }
        .navi-link-last {
            margin: 0 0 0 100px;
        }
        .navi-color {
            color: colors(red);
            font-weight: 600;
            span {
                font-size: 12px;
            }
            &:hover {
                transform: scale(1.5);
                cursor: pointer;
            }
        }
    }
    .btn {
        background-color: colors(red);
        color: colors(white);
    }
    .navbar-brand {
        margin-right: 160px;
    }
    .navi-media {
        display: none;
    }
    @media (max-width: 991px) {
        .navi {
            margin: 15px;
            float: left;
        }
        .navbar-collapse {
            padding: 10px 100px;
            background-color: colors(white);
            text-align: center;
            z-index: 1;
        }
        .navi-link-last, .navi-link-last-2 {
            display: none;
        }
        .navi-media {
            display: block;
        }
        .navbar-brand {
            display: none;
        }
    }
}
