@import 'functions.scss';
body {
    padding: 0;
    margin: 0;
    background-color: color(pink);

    @import 'header.scss';
    @import 'concent.scss';
    @import 'cards.scss';
    @import 'img.scss';
    @import 'footer.scss';
}