@import 'function/function.scss';
body {
    padding: 0;
    margin: 0;
    background-color: color(pink);

    @import 'header/header.scss';
    @import 'container/concent.scss';
    @import 'card/cards.scss';
    @import 'img/img.scss';
    @import 'footer/footer.scss';
}